
.all{
    background-color: #217dbb;
}
.navbar{
    display: flex;
    height: 60px;
    width: 550px;
    margin: auto;
    background-color: white;
    font-size: 19px;
}
.item{ 
    cursor: pointer; 
    // font-family: system-ui;
    &:hover{
        text-decoration: underline;
    }
}

@media only screen and (max-width: 900px) {
    .navbar {
      width: 100%;
      font-size: 14px;
    }
  }
@media only screen and (max-width: 900px) {
    .item {
      background-color: black;
      text-align: center;
    }
  }

.content-footer,
.masthead-heading,
.masthead-intro {
  text-align: center;
}
.masthead {
  padding: 6em 0;
  background: rgba(33, 125, 187, 0.8);
  background-size: cover;
  background-repeat: no-repeat;
}

.masthead-intro {
    /* Layout Declarations */
    margin-bottom: 0.1em;
    /* Typography Declarations */
    // font-family: Courier New, monospace;
    font-size: 2em;
    color: #a0cfee;
}

.masthead-heading {
    /* Layout Declarations */
    color: #fff;
    margin-top: -0.2em;
    /* Typography Declarations */
    // font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 6em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}
  
@media only screen and (max-width: 500px) {
    .masthead {
        padding: 3em 0;
    }
    .masthead-heading {
        font-size: 3em;
    }
}
.pack{
    background-color: white;
}


